<mat-toolbar class="app-toolbar">
  <mat-toolbar-row>
    <div class="flex-container">
      <div class="search-bar" [attr.data-is-focus]="isSearchBarFocus" [ngClass]="{ 'mat-elevation-z4': isSearchBarFocus }"
        matAutocompleteOrigin #origin="matAutocompleteOrigin">
        <button class="search-bar__actions" mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <input class="search-bar__input" placeholder="Search on GDrive" aria-label="Search on GDrive" [matAutocomplete]="auto"
          [matAutocompleteConnectedTo]="origin" (focus)="toggleSearchbarFocus()" (focusout)="toggleSearchbarFocus()">
        <mat-autocomplete class="test" #auto="matAutocomplete">
          <mat-option *ngFor="let doc of documents" [value]="doc.name">
            <span class="document-icon">{{ doc.type }}</span>
            <span class="document-name">{{doc.name}}</span>
          </mat-option>
        </mat-autocomplete>
        <button class="search-bar__actions" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
        <button class="search-bar__actions" mat-icon-button>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div class="user-profile">
        <a mat-icon-button>
          <div class="avatar-round">S</div>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="flex-container">
      <div>
        <button mat-button [matMenuTriggerFor]="myDriveMenu">
          My Drive
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #myDriveMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>create_new_folder</mat-icon>
            New folder...
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon svgIcon="file-upload"></mat-icon>
            Import files...
          </button>
          <button mat-menu-item>
            <mat-icon svgIcon="folder-upload"></mat-icon>
            Import folder...
          </button>
        </mat-menu>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>view_list</mat-icon>
          <!-- <mat-icon>view_comfy</mat-icon> -->
        </button>
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
